// Font
$font-main: 'IBM Plex Sans', sans-serif;
$font-size: 16px;
$font-weight: 200;
// Colors
$white: #fff;
$black: #000;
$gray: #7f7f7f;
$blue: #057dcd;
$primary: palevioletred;
// Other
$max-width: 1500px;
$transition: all 0.25s ease-in-out;